@import "../common/utils/var.scss";
.theme-generator {
  position: relative;
}

@media screen and (max-width: 960px) {
  .theme-generator {
    display: none;
  }
}

.t-drawer__mask {
  background: none;
}

.t-drawer__content-wrapper {
  box-shadow: var(--shadow-2);
}

.t-drawer__content-wrapper .t-drawer__body {
  padding: 0;
  background: var(--bg-color-theme-transparent);
  backdrop-filter: blur(10px);
}

.t-popup__content {
  font-size: 14px;
  box-shadow: var(--shadow-2), var(--shadow-inset-top), var(--shadow-inset-right), var(--shadow-inset-bottom),
    var(--shadow-inset-left);
}

.t-popup__content:not(.t-tooltip) {
  background: var(--bg-color-container);
}

.t-popup[data-popper-placement="bottom-end"] .t-popup__arrow {
  left: calc(100% - 16px * 2);
}

.t-popup[data-popper-placement="bottom-start"] .t-popup__arrow {
  left: 20px;
}

.t-popup__content:not(.t-tooltip) .t-popup__arrow:before {
  background: var(--bg-color-container);
}

.t-select__list {
  padding: 0;
}

.t-button--variant-text:hover {
  background: var(--bg-color-container-hover);
}

.t-input {
  padding-left: 4px !important;
}
