.panel__size-slider {
  border-radius: 9px;
  padding: 8px 8px 12px 8px;
  font-size: 14px;
}

.panel__size-slider-op {
  width: 108px;
  margin-top: 4px;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--bg-color-code);
}

.panel__size-slider :global(.t-input-number) {
  font-size: 14px !important;
}
