.font-content__content {
  padding: 0;
  overflow: auto;
}

.font-content__content:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-scroll);
}

.font-content__content::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.font-content__content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
}

.font-content__main {
  padding: 12px 4px 16px 16px;
}

.font-content__title {
  font-size: 14px;
  color: var(--text-primary);
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 0px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
