// 颜色
$list-bg-color-default: $bg-color-container;
$list-bg-color-strip: $bg-color-secondarycontainer;
$list-item-split-color: $border-level-1-color;
$list-avatar-bg-color: $bg-color-page;
$list-text-color-loading: $text-color-placeholder;
// $list-icon-color-loading: $brand-color-5;
$list-text-color-load-more: $text-color-placeholder;
$list-meta-title-color: $text-color-primary;
$list-meta-description-color: $text-color-primary;
$list-action-color: $brand-color;
$list-action-icon-color: $text-color-secondary;
$list-link-color: $text-color-link;
$list-font-color: $text-color-primary;

// 间距
$list-padding: $comp-paddingTB-m $comp-paddingLR-l;
$list-item-spacer-small: $comp-paddingTB-s $comp-paddingLR-m;
$list-item-spacer-default: $comp-paddingTB-m $comp-paddingLR-l;
$list-item-spacer-large: $comp-paddingTB-l $comp-paddingLR-xl;
// $list-meta-padding: $spacer-s 0;
$list-avatar-margin-right: $comp-margin-l;
$list-meta-title-margin: 0 0 $comp-margin-s;
$list-meta-description-margin-right: $comp-margin-xxl;
$list-action-margin-right: $comp-margin-l;
$list-load-not-empty-padding: $comp-paddingTB-m $comp-paddingLR-l;
$list-load-icon-margin: $comp-margin-s;

// 尺寸
$list-item-line-height: $text-line-height-base;
$list-avatar-size: $comp-size-xxxl;
$list-icon-size: $comp-size-xxxs;

// 字体
$list-item-font: $font-body-medium;
$list-meta-title-font: $font-title-medium;
$list-load-font-size: $comp-size-xxxs;
$list-load-more-font-size: $comp-size-xxxs;

// 行号
$list-load-line-height: $text-line-height-base;
