@use "../../_vars.scss" as *;
// 颜色
// layout字体
$layout-color: $text-color-secondary;
// layout背景
$layout-bg-color: $bg-color-page;
// header背景
$layout-header-bg-color: $bg-color-container;
// sider背景
$layout-sider-bg-color: $bg-color-container;
// footer字体
$layout-footer-color: $text-color-placeholder;

// 尺寸
$layout-header-height: $comp-size-xxxl;
$layout-sider-width: 232px;

// 动画
$layout-sider-anim-duration: $anim-duration-base;
