/* fade animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* ----------------------------- */
/* color-content__horizontal-list */
/* ----------------------------- */
.color-content__horizontal-list {
  width: 100%;
  margin: 12px 0 12px 0;
  position: relative;
  height: 32px;
  transition: height 0.2s;
}

.color-content__horizontal-list > div {
  display: flex;
  width: 100%;
}

.color-content__horizontal-list > div > div {
  flex: 1;
  height: 32px;
  transition: transform 0.2s;
  cursor: pointer;
}

.color-content__horizontal-list > div > div:first-child {
  border-radius: 6px 0 0 6px;
}

.color-content__horizontal-list > div > div:last-child {
  border-radius: 0 6px 6px 0;
}

.color-content__horizontal-list > div > div:hover {
  transform: scale(1.2);
  border-radius: 3px;
  box-shadow:
    0px 1px 10px rgba(0, 0, 0, 0.05),
    0px 4px 5px rgba(0, 0, 0, 0.08),
    0px 2px 4px -1px rgba(0, 0, 0, 0.12);
}

/* unlink block */
.color-content__horizontal-list .unlink {
  width: 100%;
  height: 32px;
  background: var(--bg-color-theme-secondary);
  border: 1px solid var(--theme-component-border);
  border-radius: 6px;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.color-content__horizontal-list .unlink .t-icon {
  font-size: 16px;
  margin-right: 4px;
}

/* ----------------------------- */
/* color-content__vertical-list  */
/* ----------------------------- */
.color-content__vertical-list {
  width: 100%;
  background: var(--bg-color-theme-secondary);
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  cursor: pointer;
  position: relative;
}

.color-content__vertical-list-content {
  width: 158px;
}

.color-content__vertical-list .block {
  position: relative;
}

.color-content__vertical-list .block .t-icon-edit-1 {
  font-size: 16px;
  color: var(--text-anti);
  z-index: 2;
}

.color-content__vertical-list .block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}

.color-content__vertical-list .block:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

/* arrow */
.color-content__vertical-list > .current-arrow {
  top: -6px;
  width: 12px;
  height: 12px;
  z-index: 10;
  background: var(--bg-color-theme-secondary);
  position: absolute;
  transform: rotate(45deg);
  transition: left 0.2s;
}

/* active tab */
.color-content__vertical-list .active-tab {
  position: absolute;
  width: calc(100% - 8px);
  border-radius: 6px;
  background: var(--bg-color-theme-surface);
  left: 4px;
  transition: top 0.2s;
  height: 44px;
  z-index: 15;
}

/* row layout */
.color-content__vertical-list > div:not(.active-tab) {
  width: 100%;
  display: flex;
  padding: 4px 6px;
  border-radius: 6px;
  position: relative;
  z-index: 20;
}

.color-content__vertical-list > div:not(.active-tab) .error-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 8px;
  font-size: 16px;
}

.color-content__vertical-list > div:not(.active-tab) > div:first-child {
  margin-right: 8px;
  margin-top: 2px;
}

.color-content__vertical-list > div:not(.active-tab) > p {
  margin-right: 12px;
  flex: 1;
}

/* title */
.color-content__vertical-list-title {
  color: var(--text-primary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 225px;
}

/* subtitle */
.color-content__vertical-list-subtitle {
  color: var(--text-placeholder);
}
