.shadow-layer {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: auto;
  gap: 8px;
}

.shadow-layer::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.shadow-layer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
}

.shadow-layer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow-layer__header--name {
  font-size: 14px;
  color: var(--text-primary);
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.shadow-layer__add {
  background: none;
  border: none;
  margin-right: 8px;
  color: var(--text-primary);
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}
