@use "../../_vars.scss" as *;
// Tooltip 组件变量
// 宽度
$tooltip-max-width: 480px;

// 颜色
$tooltip-bg: $gray-color-9; // tooltip 背景色
$tooltip-color-primary: $brand-color;
$tooltip-bg-primary: $brand-color-light;
$tooltip-color-success: $success-color;
$tooltip-bg-success: $success-color-light;
$tooltip-color-danger: $error-color;
$tooltip-bg-danger: $error-color-light;
$tooltip-color-warning: $warning-color;
$tooltip-bg-warning: $warning-color-light;
$tooltip-text-color: $text-color-anti;
$tooltip-light-text-color: $text-color-primary;

// 间距
$tooltip-default-margin: $comp-margin-s;

// tooltip箭头位移量
$tooltip-arrow-position: $comp-margin-xs;
