@import "tailwindcss";
@import "./themes.css";
@import "./rillple.css";
@import "./scrollbar.css";

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-background: var(--background);
  --color-input: var(--input);
  --color-foreground: var(--foreground);
}
:root {
  --primary: var(--color-blue-500);
  --default: var(--color-gray-500);
  --success: var(--color-green-500);
  --warning: var(--color-yellow-500);
  --danger: var(--color-red-500);
  --background: var(--color-blue-500);
  --foreground: var(--color-white);
  --primary-foreground: var(--color-white);
  --default-foreground: var(--color-white);
  --success-foreground: var(--color-white);
  --warning-foreground: var(--color-white);
  --danger-foreground: var(--color-white);
  --input: var(--color-gray-500);
}
