@import "tailwindcss";
@import "./themes.css";
@import "./rillple.css";
@import "./scrollbar.css";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success-foreground: var(--success-foreground);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger-foreground: var(--danger-foreground);
  --color-ring: var(--ring);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success-background: var(--success-background);
  --color-info-background: var(--info-background);
  --color-warning-background: var(--warning-background);
  --color-danger-background: var(--danger-background);
  --color-success-border: var(--success-border);
  --color-info-border: var(--info-border);
  --color-warning-border: var(--warning-border);
  --color-danger-border: var(--danger-border);
  --color-shadow: var(--shadow);

  --animate-slide-in: slide-in 300ms ease-in-out;
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 300ms ease-in-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 300ms ease-in-out;
  @keyframes fade-out {
    form {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-scale-in-center: scale-in-center 0.2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  --animate-scale-out-center: scale-out-center 0.2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @keyframes scale-out-center {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(25% 0.01 262);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(25% 0.01 262);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(25% 0.01 262);
  --primary: oklch(27% 0.01 262);
  --primary-foreground: oklch(98% 0.005 262);
  --secondary: oklch(96% 0.01 262);
  --secondary-foreground: oklch(27% 0.01 262);
  --muted: oklch(96% 0.01 262);
  --muted-foreground: oklch(46% 0.01 262);
  --accent: oklch(96% 0.01 262);
  --accent-foreground: oklch(27% 0.01 262);
  --destructive: oklch(65% 0.25 29);
  --destructive-foreground: oklch(98% 0.005 262);
  --border: oklch(90% 0.01 262);
  --input: oklch(90% 0.01 262);
  --ring: oklch(65% 0.01 262);
  --radius: 0.5rem;
  --chart-1: oklch(70% 0.15 30);
  --chart-2: oklch(55% 0.15 180);
  --chart-3: oklch(35% 0.1 220);
  --chart-4: oklch(75% 0.15 85);
  --chart-5: oklch(72% 0.18 45);
  --sidebar-background: oklch(98% 0.005 262);
  --sidebar-foreground: oklch(35% 0.01 262);
  --sidebar-primary: oklch(27% 0.01 262);
  --sidebar-primary-foreground: oklch(98% 0.005 262);
  --sidebar-accent: oklch(96% 0.01 262);
  --sidebar-accent-foreground: oklch(27% 0.01 262);
  --sidebar-border: oklch(88% 0.02 262);
  --sidebar-ring: oklch(65% 0.01 262);
  --info: oklch(70% 0.3 250); /* 蓝色淡色背景 */
  --info-foreground: oklch(98% 0.005 262);

  --success: oklch(70% 0.3 142); /* 绿色淡色背景 */
  --success-foreground: oklch(98% 0.005 262);

  --warning: oklch(70% 0.3 80); /* 黄色更亮一些 */
  --warning-foreground: oklch(98% 0.005 262);

  --danger: oklch(65% 0.25 29); /* 红色偏橘 */
  --danger-foreground: oklch(98% 0.005 262);

  --success-background: oklch(0.971 0.024 142.57);
  --info-background: oklch(0.945 0.051 248.85);
  --warning-background: oklch(0.964 0.046 103.25);
  --danger-background: oklch(0.949 0.049 28.18);

  --success-border: oklch(0.835 0.141 139.67);
  --info-border: oklch(0.792 0.139 250.42);
  --warning-border: oklch(0.886 0.118 94.72);
  --danger-border: oklch(0.841 0.104 29.18);

  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

/* 公共的dark变量 */
.dark {
  --background: oklch(0.2393 0 0); /* #1f1f1f */
  --foreground: oklch(1 0 0); /* 纯白，已是 OKLCH */
  --success-background: oklch(0.173 0.032 147.99); /* #162312 */
  --info-background: oklch(0.166 0.03 261.94); /* #111a2c */
  --warning-background: oklch(0.224 0.044 78.87); /* #2b2111 */
  --danger-background: oklch(0.216 0.038 24.55); /* #2c1618 */

  --success-border: oklch(0.274 0.06 142.26); /* #274916 */
  --info-border: oklch(0.272 0.071 259.41); /* #15325b */
  --warning-border: oklch(0.394 0.088 81.45); /* #594214 */
  --danger-border: oklch(0.368 0.068 27.47); /* #5b2526 */

  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}
