@use "../_vars.scss" as *;
@use "../mixins/_text.scss" as *;
.#{$prefix}-tips {
  font-size: $font-size-s;
}

@include tips-text-status(default);
@include tips-text-status(error);
@include tips-text-status(warning);
@include tips-text-status(success);
