.shadow-card {
  display: flex;
  margin-top: 8px;
  background-color: var(--bg-color-theme-secondary);
  border-radius: 9px;
}

.shadow-card__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border-radius: 6px;
  padding: 6px 8px;
  margin: 16px;
  overflow: hidden;
  background-color: var(--bg-color-theme-surface);
}

.shadow-card__title {
  font-size: 12px;
  color: var(--text-primary);
  line-height: 20px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.shadow-card__tips {
  font-size: 12px;
  color: var(--text-placeholder);
  line-height: 20px;
}

.shadow-card__divider {
  height: 1px;
  width: 100%;
  margin: 4px 0;
  background: var(--theme-component-border);
}

.shadow-card__info {
  font-size: 12px;
  color: var(--text-placeholder);
  line-height: 20px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.shadow-card__info-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
