.font-color__type-radio {
  margin: 16px 0;
  display: flex;
  width: 100%;
  border-radius: 6px;
  background-color: var(--bg-color-theme-secondary);
}

.font-color__radio-button {
  flex: 1;
  text-align: center;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--text-secondary);
  font-size: 12px;
  transition: color 0.2s;
  border-radius: 5px;
}

.font-color__radio-button.active {
  color: var(--text-primary);
  background-color: var(--bg-color-theme-surface);
}

.font-color__vertical-list {
  width: 100%;
  background: var(--bg-color-theme-secondary);
  padding: 4px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 9px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  cursor: pointer;
  position: relative;
}

.font-color__vertical-list .block {
  position: relative;
  margin-bottom: 8px;
}

.font-color__vertical-list .block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.font-color__vertical-list .block:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.font-color__vertical-list > .current-arrow {
  top: -6px;
  width: 12px;
  height: 12px;
  z-index: 10;
  background: var(--bg-color-theme-secondary);
  position: absolute;
  transform: rotate(45deg);
  transition: left 0.2s;
}

.font-color__vertical-list .active-tab {
  position: absolute;
  width: calc(100% - 12px);
  border-radius: 6px;
  background: var(--bg-color-card);
  left: 6px;
  transition: top 0.2s;
  height: 56px;
}

.font-color__vertical-list > div:not(.active-tab) {
  width: 100%;
  display: flex;
  padding: 4px 6px;
  border-radius: 6px;
  position: relative;
}

.font-color__vertical-list > div:not(.active-tab) > div:first-child {
  margin-right: 8px;
  margin-top: 2px;
}

.font-color__vertical-list-title {
  color: var(--text-primary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 182px;
  font-size: 12px;
  line-height: 18px;
}

.font-color__vertical-list-subtitle {
  color: var(--text-placeholder);
  font-size: 12px;
  line-height: 18px;
}
