.font-panel__round-tag-left {
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.font-panel__round-tag-right {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.font-panel__token-list {
  margin-top: 8px;
  padding: 4px 4px 0 4px;
  border-radius: 9px;
  background-color: var(--bg-color-theme-secondary);
}

.font-panel__radio-group {
  display: flex;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  background-color: var(--bg-color-theme-radio);
  margin-bottom: 4px;
  position: relative;
}

.font-panel__radio-button {
  flex: 1;
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  color: var(--text-secondary);
  font-size: 12px;
  transition: color 0.2s;
}

.font-panel__radio-button.active {
  color: var(--text-primary);
}

.font-panel__list {
  overflow: hidden;
}

.font-panel__list-item {
  margin: 4px 0;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  background-color: var(--bg-color-theme-surface);
  width: 100%;
}
