@use "../../_vars.scss" as *;
@use "./_vars.scss" as *;
@use "./_mixin.scss" as *;

@use "../../mixins/_layout.scss" as *;

@use "../../mixins/_reset.scss" as *;

.#{$prefix}-popup {
  @include reset;

  color: $popup-text-color;
  display: inline-block;
  z-index: $z-index-Popup;

  &__content {
    position: relative;
    background: $popup-bg;
    box-shadow: $popup-shadow;
    border-radius: $border-radius-medium;
    padding: $popup-padding;
    font-size: $popup-content-font-size;
    line-height: $popup-content-line-height;
    box-sizing: border-box;
    word-break: break-all;
  }
}

.#{$prefix}-popup__arrow {
  position: absolute;
  z-index: 1;
  width: $popup-arrow-width;
  height: $popup-arrow-height;

  &::before {
    position: absolute;
    content: "";
    width: $popup-arrow-width;
    height: $popup-arrow-height;
    transform: rotate(45deg);
    background: $arrow-bg;
  }
}
@include content-placement-top();
@include content-placement-bottom();
@include content-placement-left();
@include content-placement-right();

@include arrow-placement-top();
@include arrow-placement-bottom();
@include arrow-placement-left();
@include arrow-placement-right();

// animation
.#{$popup-flow}-enter,
.#{$popup-flow}-enter-from,
.#{$popup-flow}-exiting,
.#{$popup-flow}-leave-to {
  opacity: 0;
  visibility: hidden;
}

.#{$popup-flow}-enter-to,
.#{$popup-flow}-entering,
.#{$popup-flow}-leave-from,
.#{$popup-flow}-leave {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.#{$popup-flow}-enter-active {
  transition: $popup-flow-transition-enter;
}

.#{$popup-flow}-leave-active {
  transition: $popup-flow-transition-leave;
}
