@use "../../_vars.scss" as *;
@use "./_var.scss" as *;
@use "./_mixins.scss" as *;
@use "../../mixins/_reset.scss" as *;
@use "../../utilities/_tips.scss" as *;

.#{$prefix}-drawer {
  $root: ".#{$prefix}-drawer";

  position: fixed;
  z-index: 1500;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  outline: none;

  &--lock {
    overflow: hidden;
  }

  &--attach {
    position: absolute;
  }

  &--left,
  &--right {
    top: 0;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--top,
  &--bottom {
    left: 0;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $drawer-mask;
    transition: opacity $drawer-default-duration $drawer-default-timing-function;
    opacity: 0;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    background: $drawer-bg-color;
    width: 16px;
    height: 16px;
    font-size: $drawer-body-text-font-size;
    color: $drawer-body-text-color;
    box-shadow: $dialog-box-shadow;
    overflow: hidden;
    pointer-events: auto;
    transition:
      transform $drawer-slow-duration $drawer-default-timing-function,
      visibility $drawer-slow-duration $drawer-default-timing-function;
    position: relative;
  }

  #{$root}__content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;

    &--left,
    &--right {
      top: 0;
    }

    &--left {
      left: 0;
      transform: translateX(-100%);
    }

    &--right {
      right: 0;
      transform: translateX(100%);
    }

    &--top,
    &--bottom {
      left: 0;
    }

    &--top {
      top: 0;
      transform: translateY(-100%);
    }

    &--bottom {
      bottom: 0;
      transform: translateY(100%);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    min-height: $drawer-header-height;
    padding: $drawer-header-padding;
    font: $drawer-header-font-size;
    color: $drawer-header-text-color;
    border-bottom: 1px solid $drawer-border-color;
    border-radius: $drawer-header-border-radius;
    box-sizing: border-box;
  }

  &__body {
    padding: $drawer-body-padding;
    overflow: auto;
    flex: 1;
  }

  &__footer {
    width: 100%;
    padding: $drawer-footer-padding;
    text-align: $drawer-footer-text-align;
    border-top: 1px solid $drawer-border-color;
    background-color: $drawer-bg-color;
    box-sizing: border-box;

    .#{$prefix}-button {
      margin-inline-start: $drawer-footer-btn-margin-left;
    }

    .#{$prefix}-button:first-child {
      margin-inline-start: 0;
    }
  }

  &__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $drawer-close-btn-size;
    height: $drawer-close-btn-size;
    top: calc((#{$drawer-header-height} - #{$drawer-close-btn-size}) / 2);
    inset-inline-end: $drawer-close-btn-position-right;
    color: $drawer-close-btn-color;
    background-color: $drawer-close-btn-bg-color;
    border-radius: $border-radius-default;
    cursor: pointer;
    transition: background-color $anim-duration-base;

    &:hover {
      background-color: $dialog-close-btn-bg-hover;
    }

    &:active {
      background-color: $dialog-close-btn-bg-active;
    }

    .t-icon {
      font-size: $drawer-icon-size;
      vertical-align: unset;
    }
  }

  &--open {
    width: 100%;
    height: 100%;
    pointer-events: auto;

    > #{$root}__content-wrapper {
      visibility: visible;
    }

    > #{$root}__mask {
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }

  // 覆盖 t-drawer--open
  &--without-mask {
    pointer-events: none;
  }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

