@import "../../vars.scss";
@import "./vars.scss";
@import "./_mixins.scss";
@import "../../mixins/reset.scss";

.#{$prefix}-tabs {
  @include reset;
  overflow: hidden;
  background-color: $tab-default-bg;

  &__header {
    &.#{$prefix}-is-left {
      float: left;
    }

    &.#{$prefix}-is-right {
      float: right;
    }
    .t-icon {
      font-size: $tab-icon-size;
    }
  }
  &__nav {
    position: relative;
    overflow: hidden;
    user-select: none;
  }

  &__nav-container {
    position: relative;

    &.#{$prefix}-is-addable {
      margin-right: $tab-btn-width;
    }

    &.#{$prefix}-tabs__nav--card {
      // border-bottom: 1px solid $tab-default-stroke;

      &::after {
        content: "";
        background-color: transparent;
      }
    }
  }

  &__nav-item {
    display: inline-flex;
    align-items: center;
    font: $font-body-medium;
    color: $tab-default-text;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: $tab-nav-item-transition;

    &-wrapper {
      display: flex;
      align-items: center;
      height: $tab-nav-item-wrapper-height;
      padding: $tab-nav-item-wrapper-padding;
      margin-left: $tab-nav-item-margin-left;
      margin-right: $tab-nav-item-margin-right;
      border-radius: $border-radius-default;
      transition: $tab-nav-item-transition;

      --ripple-color: $bg-color-container-active;
    }

    &.#{$prefix}-size-l {
      font: $tab-nav-item-font;

      .#{$prefix}-tabs__nav-item-wrapper {
        height: $tab-nav-item-wrapper-height-large;
        padding: $tab-nav-item-wrapper-padding-large;
      }
    }

    &-text-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    &:not(.#{$prefix}-is-disabled):not(.#{$prefix}-is-active):hover {
      .#{$prefix}-tabs__nav-item-wrapper {
        background-color: $bg-color-container-hover;
      }
    }

    &.#{$prefix}-is-left,
    &.#{$prefix}-is-right {
      display: flex;
      align-items: center;
    }

    &.#{$prefix}-size-m {
      height: $tab-height-middle;
      line-height: $tab-height-middle;
    }

    &.#{$prefix}-size-l {
      height: $tab-height-large;
      line-height: $tab-height-large;
    }

    &.#{$prefix}-is-active {
      color: $tab-default-text-select;
      // font-weight: 500;
      text-shadow: $tab-btn-text-shadow-active; // 由于在wins上字体变粗时会扩大width的宽度，导致有抖动的问题；因此采用text-shadow来代替
    }

    &.#{$prefix}-is-disabled {
      color: $tab-default-text-disabled;
      cursor: not-allowed;
    }

    & > .remove-btn {
      margin-left: $tab-btn-remove-btn-margin-left;
      transition: $tab-btn-remove-btn-transition;
      display: flex;
    }
  }
  &__content {
    overflow: hidden;
    position: relative;
  }
  &__bar {
    position: absolute;
    background-color: $tab-default-bar-bg-color;
    z-index: 1;
    transition: $tab-bar-transition;
    border-radius: $border-radius-small;

    &.#{$prefix}-is-top {
      bottom: 0;
      left: 0;
      height: $tab-default-stroke-size;
    }

    &.#{$prefix}-is-bottom {
      top: 0;
      left: 0;
      height: $tab-default-stroke-size;
    }

    &.#{$prefix}-is-left {
      top: 0;
      right: 0;
      width: $tab-default-stroke-size;
    }

    &.#{$prefix}-is-right {
      top: 0;
      left: 0;
      width: $tab-default-stroke-size;
    }
  }
}
.#{$prefix}-tab-panel {
  &.#{$prefix}-is-hidden {
    display: none;
  }
}
