@use "../_vars.scss" as *;
@use '../_vars.scss' as *;

@mixin reset {
  font: $font-body-medium;
  color: $text-color-primary;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
