@use "../_vars.scss" as *;
@use "../vars.scss" as *;

// 滚动条样式mixin
@mixin scrollbar($size: 6px, $borderSize: 0px) {
  // Safari/Chrome 中滚动条样式设置
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    border: $borderSize solid transparent;
    background-clip: content-box;
    background-color: $scrollbar-color;
    border-radius: calc(#{$size} * 2 - 1px);
  }

  &::-webkit-scrollbar-thumb:vertical:hover,
  &::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: $scrollbar-hover-color;
  }
}

// 隐藏滚动条mixin
@mixin hideScrollbar {
  /* Chrome / Safari */
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}
