// 变量定义
$tips-text-default: $text-color-placeholder;
$tips-text-error: $error-color;
$tips-text-warning: $warning-color;
$tips-text-success: $success-color;

// 建议维护一个 map，方便按状态取值
$tips-text-colors: (
  default: $tips-text-default,
  error: $tips-text-error,
  warning: $tips-text-warning,
  success: $tips-text-success,
);

// 单行省略
@mixin text-ellipsis() {
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行省略
@mixin text-ellipsis-multi-line($line: 2) {
  overflow: hidden;

  /* stylelint-disable-next-line */
  display: -webkit-box;
  -webkit-line-clamp: $line;

  /* stylelint-disable-next-line */
  -webkit-box-orient: vertical;
}

// 提示文本状态
@mixin tips-text-status($status) {
  .#{$prefix}-tips.#{$prefix}-is-#{$status} {
    // color: map-get($tips-text-colors, $status);
    color: #000;
  }
}

$tips-text-colors: (
  default: $tips-text-default,
  success: $tips-text-success,
  warning: $tips-text-warning,
  error: $tips-text-error,
);
