// 导入组件库的变量文件，使用 SCSS 变量（会自动编译成 CSS 变量）
@import "../../../components/styles/_vars.scss";

.tdesign-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: $comp-paddingTB-xl;
}

.tdesign-loading-spinner {
  width: $comp-size-xl;
  height: $comp-size-xl;
  border: 3px solid $bg-color-component;
  border-top-color: $brand-color;
  border-radius: $border-radius-circle;
  animation: tdesign-spin 1s linear infinite;
}

@keyframes tdesign-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tdesign-loading p {
  margin-top: $comp-margin-m;
  font-size: $font-size-base;
  line-height: $text-line-height-base;
  color: $text-color-secondary;
}

