.color-content__content {
  padding: 0;
  overflow-y: auto;
}
.color-content__content:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-scroll);
}
.color-content__content::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}
.color-content__content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
}
.color-content /deep/ .t-divider__horizontal {
  margin: 16px 0;
}
.color-content__main {
  padding: 12px 4px 16px 16px;
}
.color-content__title {
  font-size: 14px;
  color: var(--text-primary);
  font-weight: 600;
  margin: 0 0 8px 0;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.color-content__subtitle {
  font-size: 12px;
  margin: 4px 0 10px 0;
}
.color-content__subtitle button {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.color-content__flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;
}
.color-content__flex > div {
  margin: 2px;
}
.color-content__block {
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  transition: background 0.2s;
}
.color-content__block .recommend-block {
  transform: scale(2);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.color-content__block > div {
  border-radius: 9px;
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--text-secondary);
  transition: all 0.2s cubic-bezier(0.38, 0, 0.24, 1);
}
.color-content__block > div:hover {
  color: var(--text-secondary-hover);
  scale: 1.05;
}
.color-content__block > div.is-active {
  border: 1px solid var(--td-brand-color);
}
.color-content__block > div > div {
  color: var(--td-font-white-1);
}
.color-content__custom {
  margin: 8px 0px;
  padding: 2px;
  height: 106px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #00c3ff 0,
    var(--td-brand-color) 120deg,
    var(--td-brand-color) 180deg,
    #4ceb1b 290.62deg,
    #00c3ff 360deg
  );
  border-radius: 9px;
  cursor: pointer;
  transition: padding 0.2s;
}
.color-content__custom:hover {
  padding: 4px;
}
.color-content__custom-inner {
  background-color: var(--bg-color-card);
  padding: 2px 2px 4px 2px;
  border-radius: 7px;
  max-height: 100%;
}
.color-content__custom-top {
  padding: 4px 8px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
.color-content__custom-top > p {
  color: var(--td-font-white-3);
  margin: 0;
  line-height: 20px;
  font-size: 12px;
}
.color-content__custom-bottom {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-content__custom-bottom p {
  margin: 0;
  line-height: 22px;
  font-size: 14px;
}
.color-content__custom-bottom p:first-child {
  color: var(--text-primary);
  font-weight: 600;
}
.color-content__custom-bottom p:last-child {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
.color-content__generate-mode {
  display: flex;
  justify-content: space-between;
}
.color-content__generate-mode-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 118px;
  border-radius: 8px;
}
.color-content__generate-mode-btn.is-active {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #00c3ff 0,
    var(--td-brand-color) 120deg,
    var(--td-brand-color) 180deg,
    #4ceb1b 290.62deg,
    #00c3ff 360deg
  );
}
.color-content__generate-mode-btn-inner {
  border-radius: 6px;
  border: 2px solid var(--bg-color-card);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-anti);
  width: 113px;
  height: 36px;
  font-size: 12px;
  line-height: 20px;
}
